html {
   font-family: 'Source Sans Pro', sans-serif;
   font-size: 16px;

   @include media-breakpoint-down(sm) {
   	font-size: 18px;
   }
}

body {
	background-color: $color-bg-white;
} 

ul {
	list-style: none;
	padding-left: 0;
}

h1, h2, h3, h4 {
	font-family: 'Merriweather', sans-serif;
}

@import "espurr";