%text--heading {
	font-family: 'Varela Round', sans-serif;
}

%title--heading {
	@extend %text--heading;
	margin-bottom: 20px;
}

.redesign-alpha {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	background-color: $color-light;

	.base-header {
		background: $color-base;

		&__selectors {
			background: #fefefe;
			display: flex;
			padding: 10px 40px;
			border-bottom: 1px solid $color-border;
			box-shadow: 0 2px 3px -2px $color-black;

			@include media-breakpoint-down(sm) {
				padding: 10px 15px;
			}
			
			.selector {
				display: flex;
				font-size: 1.25rem;

				&--mode {
					margin-left: auto;

					&__indicator {
						@extend %text--heading;
						margin: 0 10px;

						&[mode-indicator=main] {
							order: 1;
						}

						&[mode-indicator=expert] {
							order: 3;
						}
					}
					/* Toggle Switch */
					&__toggle {
						display: flex;
						position: relative;

						> input[type="checkbox"] {
							position: absolute;
							opacity: 0;
							visibility: hidden;

							&:checked + label::after {
								margin-left: 55px;
							}
						}

						> label {
							order: 2;
							display: block;
							width: 90px;
							height: 32px;
							background-color: $color-accent;
							border-radius: 50px;
							position: relative;
							cursor: pointer;
							outline: none;
							transition: all 0.3s ease;

							&::before, &::after {
								position: absolute;
								content: '';
							}

							&::before {
								top: 2px;
								left: 2px;
								bottom: 2px;
								right: 2px;
								background-color: $color-white;
								border-radius: 50px;
								transition: all 0.3s ease;
							}

							&::after {
								top: 3px;
								left: 4px;
								background-color: $color-accent;
								width: 26px;
								height: 26px;
								border-radius: 50%;
								transition: all 0.3s ease;
							}
						}

						@include media-breakpoint-down(sm) {
							.selector--mode__indicator {
								position: absolute;
								font-size: 0.85rem;
								right: 6px;
								top: 50%;
								transform: translateY(-50%);
								z-index: 1;

								&[mode-indicator=expert] {
									visibility: hidden;
									right: 24px;
								}

								&[mode-indicator=main] {
									visibility: visible;
								}	
							}

							input[type=checkbox]:checked ~ [mode-indicator=main] {
									visibility: hidden;
								}

							input[type=checkbox]:checked ~ [mode-indicator=expert] {
								visibility: visible;
							}
						}
					}
				}
			}
		}

	}

	.content {
		&-section {
			margin-top: 40px;

			&__title {
				@extend %title--heading;
				font-size: 2rem;
				text-align: center;
			}
		}

		.overview {
			position: relative;
			border-radius: 30px 0 30px 0;
			background: $color-white;

			> .addon {
				position: absolute;
				width: 120px;
				height: 120px;
				border-radius: 50%;
				border: 5px solid $color-white;
				top: 0;
				left: 0;
				background: $color-base;
				overflow: hidden;
			}

			&__body {
				padding: 20px;
			}
		}
	}

	.main-footer {
		background: $color-base-darker;
	}

	.content {
		flex: 1;
	}


}